@{
    ViewBag.Title = "About Morgan";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Morgan is a senior at OU. She is studying MIS and Marketing. She is a member of Alpha Xi Delta where she is the former Finance and Operations VP. 
    Morgn is from Cleveland and will be returning to Cleveland to begin her career in the Fall. She loves watching tv and hanging out with her friends.</p>
