@{
    ViewBag.Title = "Contact Morgan Klimack";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Morgan Klimack<br />
    123 College St, Athens, Ohio 45701<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mk866815@ohio.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>