@{
    ViewBag.Title = "Home Page";
}

<div class="label-warning">
    <h1>Morgan Klimack</h1>
    <p class="lead">Morgan Klimack is a senior at Ohio University. She is studying Management Information Systems and Marketing.</p>
    <p><a href="http://www.instagram.com" class="btn btn-danger btn-lg">Follow Her &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Hometown</h2>
        <p>
            Morgan grew up in a small town called Rocky River. It is a suburb on the west side of Cleveland, Ohio..
        </p>
        <p><a class="btn btn-success" href="http://www.rrcity.com">Learn more about Rocky River &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>College Experience</h2>
        <p>Morgan attends Ohio University and is in the College of Business. She is majoring in Management Information Systems and Marketing. She has been invovled in Alpha Xi Delta and was in Ohio Women in Business, until her junior year.</p>
        <p><a class="btn btn-success" href="http://www.ohio.edu">Learn more about OU &raquo;</a></p>
        @Html.ActionLink("Student", "Index", "Students")
        <br />
        @Html.ActionLink("Grade", "Index", "Grades")
        <br />
        @Html.ActionLink("Courses", "Index", "Courses")
    </div>
    <div class="col-md-3">
        <h2>Future Job</h2>
        <p>Morgan has accepted a job working for Price WaterHouse Cooper in Cleveland, Ohio. She will be working in risk assurance. </p>
        <p><a class="btn btn-success" href="http://www.pwc.com">Learn more about PwC &raquo;</a></p>
    </div>
</div>